<?xml version="1.0"?>
<launch>

      <!-- GDB functionality -->
    <arg name="debug" default="false" />
    <arg unless="$(arg debug)" name="launch_prefix" value="" />
    <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />
 
  <!-- RVIZ  -->
    
     <!-- Load the URDF to the parameter server -->
    <arg name="model" default="$(find arduino_arm)/urdf/arduino_arm.xacro" />
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
 
 
     <!-- Show in Rviz  -->
     <node name="rviz" pkg="rviz" type="rviz" args="-d $(find arduino_arm_moveit)/launch/moveit.rviz"/>
  
  <!-- CORE  -->
 
   <!-- Load controller settings  -->
     <rosparam 
     file="$(find arduino_arm_control)/config/arduino_arm_controllers.yaml" 
     command="load"/>
 
 
     <!-- Load hardware interface -->
     <node 
        name="arduino_arm_hw_main" 
        pkg="arduino_arm_control" 
        type="arduino_arm_hw_main" 
        output="screen" 
        launch-prefix="$(arg launch_prefix)"
         /> 
 
 
     <!-- Load scene -->
     <!-- <node name="planning_scene_primatives" pkg="aubo_motion" type="planning_scene_primatives" output="screen"/> --> 
 
 
 
     <!-- Load controller manager  -->
     <node name="ros_control_controller_manager" pkg="controller_manager" 
     type="controller_manager" 
     respawn="false"
     output="screen"
     args="spawn joint_state_controller position_trajectory_controller" />
 
     <!-- Convert joint states to /tf tranforms -->
     <node name="robot_state_publisher" 
     pkg="robot_state_publisher" 
     type="robot_state_publisher"
     /> 
 
     <!-- 
         ns="move_group"

     -->
 
  
  <!-- MOVEIT -->
 
     <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
     <include file="$(find arduino_arm_moveit)/launch/planning_context.launch">
     <arg name="load_robot_description" value="true"/>
     </include>
 
 
     <!-- Remap follow_joint_trajectory -->
     <!-- <remap from="move_group/position_trajectory_controller/follow_joint_trajectory"  -->
     <!-- to="move_group/arduino_arm_controller/follow_joint_trajectory"/>   -->
   
 
     <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
     <include file="$(find arduino_arm_moveit)/launch/move_group.launch">
     <arg name="allow_trajectory_execution" value="true"/>
     <arg name="info" value="true"/> 
     </include> 

 <!-- HARDWARE -->
 
     <!-- rosserial to arduino
     <node pkg="rosserial_server" type="serial_node" name="rosserial_server_main" output="screen" respawn="true"> 
         <rosparam>
             port: /dev/ttyACM0
             baud: 115200
             spin_rate: 0.5
         </rosparam>
     </node>   -->

     <node 
        name="serial_comm_node" 
        pkg="arduino_arm_control" 
        type="serial_comm_node.py" 
        output="screen"
      />
 
 </launch>